---
import { getConfigurationCollection } from "../../lib/utils";

const { data: config } = await getConfigurationCollection();
---

<div class="parallax-container">
  <div class="parallax-element flex flex-col items-center gap-8 sm:flex-row">
    <img
      src={config.hero.image}
      alt={`${config.hero.title} Profile Image`}
      class="z-0 mb-4 h-40 w-40 max-w-40 rounded-full"
    />
    <div>
      <h1
        class="font-display opsz has-text-scramble text-center text-3xl font-semibold sm:text-left sm:text-4xl"
      >
        {config.hero.title}
      </h1>
      <h2
        class="text-center font-mono text-xl font-medium sm:text-left sm:text-2xl"
      >
        <p set:html={config.hero.subtitle} />
      </h2>
    </div>
  </div>
</div>
